# Editor Configs
.vs

# Prerequisites
*.d

# Build Projects
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vcxproj.FileListAbsolute.txt
*.sl
*.xcworkspace
*.xcodeproj

# Compiled Debug Symbols
*.pdb
*.exp

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.obj.enc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Logs
*.tlog
*.log

# Misc
*.ilk
*.recipe
*.idb

# Included files
!premake5.exe
