[submodule "Extern/glm"]
	path = Extern/glm
	url = https://github.com/g-truc/glm
[submodule "Extern/spdlog"]
	path = Extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Extern/json"]
	path = Extern/json
	url = https://github.com/nlohmann/json
[submodule "Extern/imgui-docking"]
	path = Extern/imgui-docking
	url = https://github.com/ocornut/imgui/
	branch = docking
[submodule "Extern/entt"]
	path = Extern/entt
	url = https://github.com/skypjack/entt
